@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    box-sizing: border-box;
}

body{
    margin:0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(20, 20, 20);
}

.button-container{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 20px 4px -20px rgba(255,255,255,0.8);
}

button{
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 75px;
    font-size: 25px;
    color: white;
    text-shadow: 0 2px 5px black;
    background: linear-gradient(to bottom, #7b7b7b, #4d4c4c);
    border-radius: 10px;
    box-shadow:inset 0 20px 4px -20px rgba(255,255,255,0.4), 0 12px 12px 0 rgba(0,0,0,0.6);
}

button:hover{
    background: linear-gradient(to top, #7b7b7b, #4d4c4c);
}

button:active{
    transform: translateY(3px);
    box-shadow:0 6px 6px 0 rgba(0,0,0,0.6);
}

#video{

}
